@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="content-wrapper">
    <div class="container w-100">
        <h2 class="m-2 text-center">Configuración</h2>
        <h4 class="m-2">Cambiar configuración de mi cuenta</h4>
        <hr />
        <div class="row m-2">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
