@{
    ViewData["Title"] = "Política de privacidad";
}


<div class="wrapper">
    <div class="content-wrapper d-flex justify-content-center align-items-center">
        <div class="card shadow p-5 rounded">
            <h1>@ViewData["Title"]</h1>
            <p>...</p>
        </div>

    </div>
</div>



