@model UserRole
@{ ViewData["Title"] = "AddUserToRole"; }

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="col-lg-12">
                    <h1 class="text-center">Agregar rol a usuario</h1>
                    <hr />
                    <form asp-action="AddUserToRole" method="post" class="p-4 bg-white shadow rounded">
                        <div class="form-group">
                            <label style="color:green">Usuario</label>
                            <select asp-for="UserId" asp-items="@ViewBag.Users" class="form-control">
                                <option selected disabled>
                                    Seleccione un usuario
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label style="color:green">Rol</label>
                            <select asp-for="RoleName" asp-items="@ViewBag.Roles" class="form-control">
                                <option selected disabled>Seleccione un Rol</option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-outline-primary" value="Asignar" />
                            <a asp-action="Index" class="btn btn-outline-danger">
                                Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
