@model List<Microsoft.AspNetCore.Identity.IdentityRole>

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="container pt-5">
                <div class="card p-2 shadow m-auto mt-2" style="width:18rem;">
                    <h1>Roles</h1>
                    <hr />
                    <a asp-action="Create" asp-controller="Role" class="btn btn-primary btn-sm">Nuevo</a>
                    <br />
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Nombre
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <a class="btn btn-danger btn-sm" asp-route-role="@item.Name" asp-action="RemoveRole" onclick="return confirm('¿Está seguro de eliminar este Rol?')">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
